.box-app {
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 18, 37);
    
}

 

.titulo{
    color: #eafbff;
    margin: center;
    font-size: 40px;
    margin-bottom: 0.4em;
}

.box-title{
    width: 100%;
    height: 100px;
    background-color: rgb(98, 57, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-bottom: 2px solid rgb(51, 30, 78);
 
}
 

.imagen{
    width:  300px;
    height: 300px;
    margin-top: 70px;
    margin-left: 100px;
    font-size: 11px;
    margin-right: 20px; 
    margin-bottom: 70px;
    display: flex;
    
    
}

.contenedor{
    display: flex;
}

.boton{
    margin-right: 1.25em;
    margin-left:  1.25em;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
   padding: 0.93em  1.85em;
    color: #FFF;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    text-decoration: none;
}

.boton:hover{
    background: rgb(139, 58, 161);
    color: rgb(252, 250, 250);
}

.box-game{
    background-color: aqua;
    width: 100%;
    height: 100vh;
 }