:root {
  --rojo: rgb(211, 206, 206);
  --fondo: rgba(0, 1, 68, 0.938);
  }
  
  * {
    margin: 0;
    padding: 4px 4px;
  box-sizing: border-box;
  }
  
  body {
      background: var(--fondo);
  }
  .PaginaPrincipal {
    margin-top:5px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.692);
}
.Titulo {
    font-family: 'Rubik Dirt', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 30px;
}

.Icono{
  width:100%;
    height: 100%; 
}

.Boton {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 8px 8px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.575);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
  .Boton:hover {
    background: white;
    color: rgb(4, 4, 158);
  }